.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-content {
  background: #ffffff;
  box-shadow: 0px 0px 24.9px 8px #9f31f047;
  padding: 20px;
  border-radius: 15px;
  position: relative;
  margin: 10px;
}

.close-button {
  position: absolute;
  top: 14px;
  right: 14px;
  cursor: pointer;
  font-size: 20px;
}
