.carousel-slider>div {
	display: block;
}

.carousel-slider>div:first-child {
	display: block;
}

.carousel-slider .slick-slide {
	float: none;
	width: auto;
}

.carousel-slider {
	display: flex;
	overflow: hidden;
}

.slide {
	min-width: 100%;
	transition: transform 0.3s ease-in-out;
}

.animation {
	visibility: visible;
}

.navbar.navbar-corporate {
	position: absolute;
}

.post-format-video iframe,
.post-format-audio iframe {
	background-color: #f4f4f4;
}

.affa-client-conference {
	width: 300px;
	padding: 0;
	margin-right: auto;
	margin-left: auto;
}