@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  width: 100%;
  height: 100%;
}

@layer base {
  html {
    font-family: "Poppins";
    scroll-behavior: smooth;
  }
}
@layer utilities {
  .gradient-text {
    @apply bg-clip-text text-transparent bg-primary_100;
  }
}

/* loader */
.loader {
  --dim: 2rem;
  width: var(--dim);
  height: var(--dim);
  position: relative;
  animation: spin988 2s linear infinite;
}

.loader .circle {
  --color: #9933EF;
  --dim: 0.8rem;
  width: var(--dim);
  height: var(--dim);
  background-color: var(--color);
  border-radius: 50%;
  position: absolute;
}

.loader .circle:nth-child(1) {
  top: 0;
  left: 0;
}

.loader .circle:nth-child(2) {
  top: 0;
  right: 0;
}

.loader .circle:nth-child(3) {
  bottom: 0;
  left: 0;
}

.loader .circle:nth-child(4) {
  bottom: 0;
  right: 0;
}

@keyframes spin988 {
  0% {
    transform: scale(1) rotate(0);
  }

  20%,
  25% {
    transform: scale(1.3) rotate(90deg);
  }

  45%,
  50% {
    transform: scale(1) rotate(180deg);
  }

  70%,
  75% {
    transform: scale(1.3) rotate(270deg);
  }

  95%,
  100% {
    transform: scale(1) rotate(360deg);
  }
}

.swiper-pagination-bullet {
  background-color: #7633ff !important;
  background-image: linear-gradient(90deg, #da22ff 0%, #9733ee 100%);
}

input[type="file"] {
  /* width: 114px; */
  width:fit-content;
  background: #efe7ff;
  border-radius: 20px;
  overflow: hidden;
  cursor: pointer;
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

:root {
  --phoneInputWithCountrySelect-borderColor: rgba(255, 255, 255, 0.5);
  --PhoneInputCountryFlag-borderColor: rgba(255, 255, 255, 1);
  --PhoneInputCountrySelectArrow-color: #7633ff;
}

.PhoneInputInput {
  outline: none;
}
